body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: xx-large;
}

* {
  border-radius: 8px;
}

header {
  margin: 5px;
  background-color: hsl(204, 100%, 34%);
  color: #fff;
  padding: 10px;
  text-align: center;
}

.container {
  margin: 5px;
  display: flex;
  gap: 10px;
}

main {
  margin-right: 5px;
  background-color: #00cc66;
  padding: 10px;
  display: flex;
  border-radius: 8px;
  flex-wrap: wrap;
}

.item {
  order: 2;
  background-color: #009933;
  color: #fff;
  padding: 20px;
  margin: 5px;
  width: 100px;
  text-align: center;
  flex: 1;
  border-radius: 8px;
}

.sidebar {
  background-color: #ff6666;
  color: #fff;
  padding: 10px;
  width: 150px;
  text-align: center;
  flex: 1;
}

footer {
  margin: 5px;
  background-color: hsl(204, 100%, 34%);
  color: #fff;
  padding: 10px;
  text-align: center;
}
